<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenjun.mapper.CrawlerTaskMapper">

    <insert id="saveRecord">
        insert into patent_application(id, apply_for, dianzisqfs, fawenxlh, zhuanlimc, accept, zhuanlisqh, tongzhismc,
                                       shoujianrid, dianzifwrq, tongzhislx, guojisqh, anjianbh, rid, dianzisqlx)
        values (null, #{apply_for}, #{dianzisqfs}, #{fawenxlh}, #{zhuanlimc}, #{accept}, #{zhuanlisqh}, #{tongzhismc},
                #{shoujianrid}, #{dianzifwrq}, #{tongzhislx}, #{guojisqh}, #{anjianbh}, #{rid}, #{dianzisqlx})
    </insert>
</mapper>